<header>
  <div class="bg-dark"></div>
  <div class="bg-dark-menu"></div>
  <nav class="p-5">
    <div class="logo">
      <img src="../assets/img/ATS.png" alt="">
    </div>
    <marquee class="mx-5" direction="let"><span class="ms-5">Qarabağ Azərbaycandır!</span> <span class="ms-5">Karabakh is Azerbaijan!</span> <span class="ms-5">Карабах это Азербайджан!</span></marquee>

    <ul>
      <li [routerLink]="['/map']" routerLinkActive="router-link-active">
        <a>Ana səhifə</a>
      </li>
      <li [routerLink]="['/about']" routerLinkActive="router-link-active">
        <a>Haqqımızda</a>
      </li>
    </ul>

  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
