<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="onChange($event)">
  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
</agm-map>

<h5 class="text-end mb-1">Address: {{address}}</h5>
<div class="text-end">Latitude: {{latitude}}</div>
<div class="text-end">Longitude: {{longitude}}</div>


<app-preloader [showPreloader]="isLoading"></app-preloader>


<!-- <mat-form-field>
  <mat-label>Address {{address}}</mat-label>
  <input matInput matGoogleMapsAutocomplete [country]="de" (onAutocompleteSelected)="onAutocompleteSelected($event)"
    (onLocationSelected)="onLocationSelected($event)">
</mat-form-field> -->

<!-- <form [formGroup]="addressFormGroup">
  <mat-search-google-maps-autocomplete formControlName="address">
  </mat-search-google-maps-autocomplete>
</form> -->

<mat-google-maps-autocomplete [appearance]="appearance.OUTLINE"
  (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)">
</mat-google-maps-autocomplete>
