<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="onChange($event, 'h')">
  <agm-marker *ngIf="!showPolylines" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
    <agm-direction *ngIf="showPolylines" [origin]="origin" [destination]="destination" [renderOptions]="renderOptions"
    [markerOptions]="markerOptions" (onChange)="changePolyline($event)">
    </agm-direction>
</agm-map>

<h4 class="mb-1">Current address: {{address}}</h4>
<div *ngIf="distance">Distance: {{distance}}, Time: {{time}}</div>

<div class="search">
  <i class="fas fa-search"></i>
  <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
    (onAddressChange)="handleAddressChange($event)" class="form-control" placeholder="Ünvan daxil et" />
</div>


<app-preloader [showPreloader]="isLoading"></app-preloader>
